.ProductCard {
  font-size: 15px;
text-align: center;
 
width:calc(15%-35px);
margin-bottom: 40px;
height: auto;
}
.title{
font-size: 30px;
color: darkcyan;
margin-bottom: 20px;

}

.ProductCard > img{

width: calc(100%-20%);
padding: 10px;

}
