
.nav{
  margin: auto;
height: 260px;
  width: 1346px;
display: flex;
background-color:floralwhite;
justify-content: flex-end;
gap: 12px;
}
h1{
   text-align: center;
    color: black;
    margin-bottom: -79px;
}
.items{
  margin-top: 10px;
color: black;
font-size: 20px;
}


