.navigations{
color:darkblue;

}
.inicio{
  color: aqua;
}
.header{
margin-bottom:100px;
height: 260px;
 width: 340%;
font-size: 100%;

background-color:forestgreen;
display: flex;
justify-content: space-between;
color: black;
}